body {
  background-color: #f3ebf6;
  font-family: 'Ubuntu', sans-serif;
}
/* index */
.main {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.sign {
  padding-top: 40px;
  color: #8c55aa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

/* user table */

table {
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin: auto;
}

.heading,
.btn-sm {
  margin: 20px 25px;
}

.btn-sm {
  width: 70px;
  height: 50%;
  padding: 5px 0;
}

th,
td {
  border: 1px solid #f2f2f2;
  padding: 8px 30px;
  text-align: center;
  color: grey;
}

th {
  text-transform: uppercase;
  font-weight: 500;
}

td {
  font-size: 15px;
}

.symp-style {
  font-size: 16px;
  color: grey;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radious: 2px;
  -moz-border-radious: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}

.post-class {
  text-transform: uppercase;
}

.fa {
  font-size: 18px;
  cursor: pointer;
}

.fa-envelope-o {
  color: #392da0;
}

.fa-commenting-o {
  color: #00ff2a;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
